* {
    margin: 0vh;
    box-sizing: border-box;
    outline:150px;
    transition: all 0.1s ease;
}
 body {
background-color: rgb(0, 0, 0);

 }
 .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
 }
 .calculator{
    height:706px;
        padding:40px;
    border-radius:40px;
 }
#display{
    margin: 36px;
    height: 150px;
    width:auto;
    display: flex;
align-items: flex-end;
font-size: 25px;
margin-bottom: 10px;
border-radius:5px;
background: rgb(101, 235, 11);

}
button {
    height:66px;
    width:90px;
    cursor:pointer;
transition:all 50ms ease;
font-size: 20px;
border-radius: 66px;

}
button:hover {
    transform:scale(120%);
}
.calculator {
    background: linear-gradient(rgb(241, 60, 162), rgb(225, 95, 186), rgb(211, 119, 223), rgb(244, 2, 248));
}
